#archive

  %h1 Archive
  %br
  %br

  %table

    - @dates.each do |date|

      %tr
        %th= date.to_s(:month_year)

        - @users.each do |user|
          %td
            = link_to user.name, user_path(user, date: date)

        %td 
          = link_to "All", month_path(date: date)
