- section :month

%section.month

  %h3= @date.to_s(:month_year)

  - @dates.each do |date|

    %h4
      = date.to_s(:daily)

    %table.month{data: { date: date.strftime("%Y/%m/%d") } }

      - @users.each do |user|
        = render partial: 'month_row', locals: { date: date, user: user } 

    %br
    %br
