%section.user
  %hgroup
    %h3= @user.name
    %p= @date.to_s(:month_year)

  %table
    %tr
      %th Date
      %th Time In
      %th Time Out
      %th Comments
      %th Hours
      %th Leaves

    - @dates_of_month.each do |date|
      = render partial: 'row', locals: {user: @user, date: date}

    %tr.total
      %td
        %strong Total Hours
      %td
      %td
      %td
      %td
      %td.hours
        %strong= @total_hours.round(2)
