#user
  %h1= @user.name
  %h3= month_year @date

  %table
    %tr
      %th Date
      %th Time In
      %th Time Out
      %th Comments
      %th Hours
      %th

    = render 'row'

    %tr.total
      %td
        %strong Total Hours
      %td
      %td
      %td
      %td.hours
        %strong= @total_hours.round(2)

  %section.file-leave.popup-dialog
 
