#home
  %pre
    :preserve
       ______ 
      ( rawr )
       ------ 
              o   ^__^
               o  (oo)\_______
                  (__)\       )\/\
                      ||----w |
                      ||     ||
      
  %p
    = link_to "Log In", login_path
