#home
  %pre
    :preserve
       ______ 
      ( rawr )
       ------ 
              o   ^__^
               o  (oo)\_______
                  (__)\       )\/\
                      ||----w |
                      ||     ||
      
  %p#login
    = form_tag(login_path, method: :get) do
      = button_tag "Log in via Google"
