#log
  %h1 Bundy Clock
  %p#date= Date.today.strftime("%A, %B %e, %Y")
  %table
    %tr
      %th
      %th Time In
      %th Time Out
      %th Comments

    - @users.each do |user|
      %tr
        %td= user.name
        %td.in
          - if !user.current_time_log
            = form_tag(controller: "time_logs", action: "time_in", method: "post") do
              = button_tag "Time In"
              -# use auth later for passing user.id 
              %input{name: "user_id", type: "hidden", value: user.id}
        %td.out
        %td.comment
