#log
  %h1 Bundy Clock
  %p#date= Date.today.strftime("%A, %B %e, %Y")
  %table
    %tr
      %th
      %th Time In
      %th Time Out
      %th Comments

    - @users.each do |user|
      %tr
        %td= user.name
        %td.in
          %button Time in
        %td.out
        %td.comment
