- section :today

%section.log
  %hgroup
    %h3= Date.today.to_s(:long)
    %p= Date.today.strftime("%A")

  %table{data: { date: Date.today.strftime("%Y/%m/%d") } }
    %tr
      %th
      %th Time In
      %th Time Out
      %th Comments

    - @users.each do |user|
      %tr{ data: { employee: user.name }, id: row_id(Date.today, user) }
      = render partial: 'row', locals: { user: user }
