- section :today

%section.today
  %hgroup
    %h3= @date.to_s(:long)
    %p= @date.strftime("%A")

  %table{data: { date: @date.strftime("%Y/%m/%d") } }
    %tr
      %th
      %th Time In
      %th Time Out
      %th Comments

    - @users.each do |user|
      = render partial: 'row', locals: { user: user, date: @date }
