#log
  %h1= Date.today.to_s(:long)
  %p#day= Date.today.strftime("%A")
  %table{data: { date: Date.today.strftime("%Y/%m/%d") } }
    %tr
      %th
      %th Time In
      %th Time Out
      %th Comments

    - @users.each do |user|
      = render partial: 'row', locals: { user: user }
