#log
  %h1 Bundy Clock
  %p#date Date
  %table
    %tr
      %th
      %th Time In
      %th Time Out
      %th Comments
    %tr#ace
      %td Ace
      %td.in
        %button Time in
      %td.out
      %td.comment
    %tr
      %td Benj
      %td.in
        %button Time in
      %td.out
      %td.comment
    %tr
      %td Mikong
      %td.in
        %button Time in
      %td.out
      %td.comment
    %tr
      %td Rico
      %td.in
        %button Time in
      %td.out
      %td.comment
