- if time_log && time_log.leave_type
  = time_log.leave_type

- elsif user == current_user && user.absent_or_half_day?(date)

  = button_to "File leave", |
    { action: 'edit', controller: 'leaves', date: date }, remote: true |
