- if time_log && time_log.leave_type
  = time_log.leave_type

- elsif user == current_user && user.absent_or_under_time?(date)

  - if time_log.nil?
    = button_to "File leave", |
      { action: 'create', controller: 'leaves', user_id: user.id, date: date }, |
      remote: true |
  
  - elsif time_log.leave_type.nil?
    = button_to "File leave", |
      { action: 'edit', controller: 'leaves', id: time_log.id }, remote: true |
