- section :leave
%section.leave

  %h3 File leave

  = form_for @time_log, url: leaves_path do |f|
    %fieldset
      %h4 Effective date:
      = f.text_field :date, size: 11, id: 'pickdate' 

      = render partial: 'leave_type', locals: { f: f }
