- section :leave
%section.leave

  %h3 File leave

  %fieldset.date
    %h4 Effective date:
    = text_field_tag 'date', nil, { size: 11, id: 'datepicker' }

  = form_for @time_log, url: leaves_path do |f|

    = render partial: 'leave_type', locals: { time_log: @time_log }

    %fieldset.actions
      = f.submit "Submit"
