@import 'compass/css3';
@import 'compass/utilities';
@import 'ifkit';
@import 'mixins-chrome';
@import 'mixins-typography';

$red: #50556a !default;
$bg: #e0e0ea;
$orange: #a55 * 1.3;

$accent: #8348aa;

$link: #7bd;

$top-height: 40px;
$drop-width: 130px;
$drop-height: 40px;

$tab-height: 30px;
