body {
  background: #fafafa;
  margin: 0;
  padding: 0;
}

body, td, th {
  font-family: arial, "sans serif";
  font-size: 10pt;
}

/* Top bar */
#top {
  background: #999;
  color: #ddd;
  padding: 8px 20px;
  overflow: hidden;
}

#top a {
  float: left;
  color: white;
  font-size: 1.1em;
}

#top a.current_month {
  padding: 0px 10px;
}

#top #aux {
  float: right;
}

/* The time log */
#log {
  width: 500px;
  margin: 40px auto;
  background: white;
  padding: 20px;
}

#log h1,
#log p#day {
  margin: 0;
  padding: 0;
  text-align: center;
}

#log h1 {
  font-family: georgia, serif;
  font-size: 24pt;
}

#log p#day {
  color: #606070;
  font-size: 14pt;
}

#user {
  width: 600px;
  margin: 40px auto;
  background: white;
  padding: 20px;
}

table {
  margin-top: 40px;
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
}

table, th, td {
}

th, td {
  border-bottom: dotted 1px #ccc;
  padding: 10px 10px;
  line-height: 24px;
  height: 24px;
}

th {
  font-weight: bold;
  color: #606070;
}

td {
  min-width: 100px;
}

td.in, td.out, td.hours {
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  background-color: #eee;
  color: #37a;
  padding: 1px 5px;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
}
