//
// Chrome: top
// Top bar styles.
//
@import 'common';

#top {
  & {
    height: $top-height;
    line-height: $top-height;

    @include pie-clearfix;
    @include box-sizing(border-box);
    @include background(linear-gradient(
      $red, $red*0.8));

    @include box-shadow(
      inset 0 -1px 0 rgba(black, 0.1),
      inset 0 1px 0 rgba(black, 0.1),
      inset 0 2px 0 rgba(white, 0.08),
      0 2px 3px rgba(black, 0.2));

    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 10;

    @include border-radius(4px);

    padding: 0 5px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(black, 0.1); }

  // Layout
  &>* {
    float: left; margin-right: 10px; }

  // ----------------------------------------------------------------------------
  // Period dropdown
  .periods {
    & {
      margin-top: 0px;
      height: $drop-height;
      width: $drop-width; }

    ul {
      width: $drop-width;
      height: $drop-height;

      @include box-shadow(0 2px 3px rgba(black, 0.2));
      @include border-radius(4px);

      position: absolute;
      top: $drop-height;
      left: 8px; }

    ul, li {
      margin: 0;
      padding: 0;
      display: block;
      list-style-type: none; }

    ul {
      display: none; }

    // Hover

    &:hover ul {
      display: block; }

    &:hover a {
      background: #222; }

    // Menu items
    a {
      @include box-sizing(border-box);
      display: block;

      height: $drop-height;
      line-height: $drop-height;
      overflow: hidden;

      width: 100%;
      padding: 0 10px;

      font-size: 9pt;

      color: #eee;
      text-shadow: 1px 1px 1px rgba(black, 0.2);
      text-decoration: none; }

    // Border radius
    li:last-child a {
      @include border-bottom-radius(4px); }

    // Current item
    h3 {
      position: relative;
      margin: 0;
      padding: 0 0 0 10px;
      font-family: 'helvetica neue', sans-serif;
      font-weight: 200;
      font-size: 13pt;

      color: mix($red, #eee, 60%); }

    h3 span.notch {
      float: right;
      margin-top: 16px;
      margin-right: 0;
      @include if-notch(bottom, rgba(white, 0.5), $size: 8px, $display: inline-block); }

    // Hover links
    a:hover {
      background: #282828; }

    a.active, a:active {
      @include background(linear-gradient(top, $accent, $accent * 0.8));
    } }

  // ----------------------------------------------------------------------------
  // Tabs
  .reports {
    & {
      margin-top: 0; }

    ul, li {
      list-style-type: none;
      margin: 0;
      padding: 0; }

    ul {
      display: block; }

    li {
      display: inline; }

    a {
      @include transition(background-color 300ms linear);

      border-left: solid 1px rgba(white, 0.08);
      border-right: solid 1px rgba(black, 0.08);

      display: block;
      float: left;

      height: $top-height;
      line-height: $top-height;
      overflow: hidden;

      padding: 0 50px 0 20px;

      font-size: 10pt;
      font-weight: bold;
      text-decoration: none;
      color: #ddd; }

    a:hover {
      background: rgba(black, 0.2); }

    // Active tab
    a.active, a:active, a:focus {
      @include box-shadow(
      inset 2px 2px 4px rgba(black, 0.2));
      background: rgba(black, 0.4); }

    a:active {
      background: $accent; }
  }

  // ----------------------------------------------------------------------------
  .aux {
    float: right;

    ul, li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: block; }

    li {
      float: left; }

    li.message {
      margin-right: 10px; }

    a {
      @include transition(color 800ms linear);
      color: mix($red, #eee, 50%);
      text-decoration: none;
      display: block;
      padding: 0 10px; }

    a .icon {
      margin-right: 5px;
      font-size: 1.9em;
      color: #eee; }

    a strong {
      position: relative;
      top: -3px;
      font-weight: normal; }

    a:hover {
      color: mix($red, #eee, 10%); }

    a:hover strong {
      border-bottom: solid 1px rgba(white, 0.2); }

    li.dropdown {
      position: relative; }

    li.dropdown.active a {
      background: rgba(white, 0.1); }
  }

  .aux li.dropdown ul {
    display: none; }

  .aux li.dropdown.active ul {
    display: block; }

  .aux li.dropdown ul {
    position: absolute;
    top: 40px;
    right: 0;

    background: white;
    @include box-shadow(0 0 5px rgba(black, 0.3));

    li {
      float: none; }

    a {
      @include transition(none);
      min-width: 140px;
      display: block;
      padding: 2px 10px; }

    a:hover {
      @include background(linear-gradient(top, $red * 1.3, $red * 0.9));
      color: white; } }
}
