!!! 5
%html
  %head
    %title BundyClock
    = stylesheet_link_tag "time-in"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", "time-in"
    = csrf_meta_tags

  %body

    = yield
